@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @inject Samsonite.Library.Web.Core.IBaseService _baseService;
    bool _isExpired = (_baseService.CurrentLoginUser.UserStatus == (int)Samsonite.Library.Web.Core.Models.UserStatus.ExpiredPwd);
}
<div class="main" v-cloak>
    <div class="main-edit">
        <el-form ref="form" :model="subForm">
            <div class="form-horizontal">
                <ul>
                    <li class="form-group" v-if="custom.isExpired">
                        <div class="col-12 group-text">
                            <label class="label-warning">{{custom.expiredMsg}}</label>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>{{languagePack.home_editpassword_old_password}}
                        </div>
                        <div class="col-9 group-text">
                            <el-input type="password" size="small" class="input-xlarge" autocomplete="new-password" v-model="subForm.oldPassword" show-password></el-input>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>{{languagePack.home_editpassword_new_password}}
                        </div>
                        <div class="col-9 group-text">
                            <el-input type="password" size="small" class="input-xlarge" autocomplete="new-password" v-model="subForm.password" show-password></el-input>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>{{languagePack.home_editpassword_sure_password}}
                        </div>
                        <div class="col-9 group-text">
                            <el-input type="password" size="small" class="input-xlarge" autocomplete="new-password" v-model="subForm.surePassword" show-password></el-input>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-operate">&nbsp;</div>
                        <div class="col-9 group-operate">
                            <el-button size="mini" type="primary" :loading="searchButton.loading" v-on:click="submit">{{languagePack.common_save}}</el-button>
                            <el-button size="mini" native-type="reset">{{languagePack.common_reset}}</el-button>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                </ul>
            </div>
        </el-form>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var appVue = new Vue({
            el: '.main',
            mixins: [elementExtend.Base.MixinVue()],
            data: {
                languagePack: JSON.parse(window.parent.frames.appFrame.languagePackCache),
                subForm: {
                        oldPassword: '',
                        password: '',
                        surePassword: ''
                },
                custom: {
                    isExpired: '',
                    expiredMsg:'',
                }
            },
            created: function () {
                this.initData();
            },
            methods: {
                initData() {
                    let $vue = this;
                    elementExtend.Base.ParseData({
                        url: '@Url.Action("EditPassword_Info", "Home")',
                        params: {
                            type:'index'
                        },
                        success: function (data) {
                            $vue.custom.isExpired = data.isExpired;
                            $vue.custom.expiredMsg = data.expiredMsg;
                        }
                    });
                },
                submit: function () {
                    let $vue = this;
                    elementExtend.Base.PostForm({
                        vue: $vue,
                        url: '@Url.Action("EditPassword_Message", "Home")',
                        params: $vue.subForm,
                        success: function (data) {
                            if (data.result) {
                                elementExtend.Tips.Success($vue,data.msg, 3, function () {
                                    window.parent.location.href = '@Url.Action("Index", "Login")';
                                });
                            }
                            else {
                                elementExtend.Tips.Alert($vue,data.msg, 5);
                            }
                        }
                    });
                }
            }
        });
    </script>
}
