*.ini
bin
obj
*.suo
*.csproj.user
Thumbs.db
OMS.App/UploadFile/CacheFile/
OMS.App/UploadFile/Temporary/
packages
OMS.App/Log
OMS.API/Log
WebAPI/Log
aspnet_client
/.vs/OMS_Singapore/v15/Server/sqlite3
/Samsonite.OMS.Database/Models
/.vs/config
/OMS.App/OMS.App.csproj.user
.vs/config/applicationhost.config
OMS.App/Document/*
OMS.App/Document/ShippingDoc/*
/.vs/OMS_Singapore
/WebAPI(DEL)/Log
/Docs/Sample_order_paid_with_Gift_and_other_payment_1.xml
/Docs/20210806_Sample_Compensation_gift_card[9714].xml
/Docs/20210806_Sample_Compensation_gift_card[9714].xml
*.json
*.v2
