@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main" v-cloak>
    <div class="main-edit">
        <el-form ref="form" :model="subForm"
                 v-loading.fullscreen.lock="fullScreenLoading"
                 element-loading-text="Loading"
                 element-loading-spinner="el-icon-loading">
            <div class="form-horizontal">
                <ul>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>{{languagePack.sparepartquery_edit_sparepart_id}}
                        </div>
                        <div class="col-9 group-text">
                            <el-input-number :controls="false" min="1000000" max="9999999" size="small" class="input-medium" v-model="subForm.id" v-on:change="changeSPId"></el-input-number>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>{{languagePack.sparepartquery_edit_sparepart_name}}
                        </div>
                        <div class="col-9 group-text">
                            <el-input type="input" size="small" class="input-xlarge" v-model="subForm.sparepartDesc"></el-input>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>{{languagePack.sparepartquery_edit_group}}
                        </div>
                        <div class="col-9 group-text">
                            <el-select size="small" class="input-xlarge" v-model="subForm.groupId" placeholder="" filterable remote :loading="custom.searchGroupLoading" :remote-method="searchGroup" clearable>
                                <el-option v-for="item in custom.groupOptions"
                                           :key="item.groupid"
                                           :label="item.desc"
                                           :value="item.groupid">
                                    <span class="float-left">{{item.desc}}</span>
                                    <span class="float-right text-gray">{{item.typeDesc}}</span>
                                </el-option>
                            </el-select>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>{{languagePack.sparepartquery_edit_imageurl}}
                        </div>
                        <div class="col-9 group-text">
                            <el-input type="input" size="small" class="input-xlarge" v-model="subForm.imageUrl"></el-input>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                </ul>
            </div>
        </el-form>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var appVue = new Vue({
            el: '.main',
            mixins: [elementExtend.Base.MixinVue()],
            data: {
                languagePack: JSON.parse(window.parent.parent.frames.appFrame.languagePackCache),
                subForm: {
                    id: '',
                    sparepartDesc: '',
                    groupId: '',
                    imageUrl: ''
                },
                custom: {
                    groupOptions: [],
                    searchGroupLoading: false
                }
            },
            created: function () {
                this.initData();
            },
            methods: {
                initData() {
                    //默认值
                    this.subForm.id = "1000000";
                    this.subForm.imageUrl="SP1000000.jpg"
                    //默认分组
                    this.searchGroup();
                },
                changeSPId: function (value) {
                    if (value != '')
                        this.subForm.imageUrl = 'SP' + value + '.jpg';
                },
                searchGroup: function (query) {
                    let $vue = this;
                    if (query == undefined)
                        query = '';
                    vueExtend.Ajax.Post({
                        url: '@Url.Action("SearchSparePartGroup_Message", "Common")',
                        params: {
                            keyword: query
                        },
                        beforeSend: function () {
                            $vue.custom.searchGroupLoading = true;
                        },
                        success: function (data) {
                            $vue.custom.searchGroupLoading = false;
                            //数据集合
                            $vue.custom.groupOptions = data.rows;
                        }
                    });
                }
            }
        });
    </script>
}
