@{
    @inject Samsonite.Library.Core.Web.IBaseService _baseService;
    @inject Samsonite.Library.Core.Web.IAntiforgeryService _antiforgeryService;
    string _skinStyle = _baseService.CurrentApplicationConfig.SysConfig.SkinStyle;
    string _lang = _baseService.CurrentLanguageFileExt;
}
<!DOCTYPE html>
<html>
<head>
    <title>Tumi Sassy System</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <!--element ui-->
    <link rel="stylesheet" href="~/Content/js/libs/elementUI/2.15.7/theme-chalk/index.css" />
    <link rel="stylesheet" href="~/Content/css/element-ui-extend.css?v=20220218" />
    <!--web-->
    <link rel="stylesheet" href="~/Content/css/style/@_skinStyle/default.css?v=20211123" />
    <link rel="stylesheet" href="~/Content/css/style.css?v=20210121" />
    <link rel="stylesheet" href="~/Content/fonts/awesome/css/font-awesome.css" />

    @RenderSection("style", required: false)
</head>
<body>
    @RenderBody()
    <div>@Html.Raw(_antiforgeryService.AntiForgeryToken())</div>
    <!--jquery-->
    <script src="~/Content/js/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--vue.js-->
    <script src="~/Content/js/libs/vueJS/2.6.10/vue.min.js"></script>
    <!--element ui-->
    <script src="~/Content/js/libs/elementUI/2.15.7/js/index.js"></script>
    <script src="~/Content/js/libs/elementUI/2.15.7/locale/lang/@(_lang).js"></script>
    <!--axios.js-->
    <script src="~/Content/js/libs/axios/0.21.1/axios.min.js"></script>
    <!--custom-->
    <script src="~/Content/js/custom/vue-extend.js?v=20211117"></script>
    <script src="~/Content/js/custom/element-extend.js?v=20210811"></script>
    <script src="~/Content/js/custom/locale/lang-@(_lang).js?v=20210101"></script>
    <script src="~/Content/js/custom/jquery-extend.js?v=20201026"></script>
    <script src="~/Content/js/custom/validateScript.js?v=20201026"></script>
    <!--initial-->
    <script src="~/Content/js/custom/initialize.js?v=20210202"></script>
    @RenderSection("scripts", required: false)
<script type="module">
        ELEMENT.locale(ELEMENT.lang.@(_lang));
</script>
</body>
</html>
