@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main" v-cloak>
    <div class="main-edit">
        <el-form ref="form" :model="subForm"
                 v-loading.fullscreen.lock="fullScreenLoading"
                 element-loading-text="Loading"
                 element-loading-spinner="el-icon-loading">
            <div class="form-horizontal">
                <ul>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>功能名称
                        </div>
                        <div class="col-9 group-text">
                            <el-input type="input" size="small" class="input-xlarge" v-model="subForm.funcName"></el-input>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>所属菜单组
                        </div>
                        <div class="col-9 group-text">
                            <el-select size="small" placeholder="请选择..." v-model="subForm.groupId">
                                <el-option v-for="item in custom.groupIdOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>类型
                        </div>
                        <div class="col-9 group-text">
                            <el-radio-group v-model="subForm.funcType">
                                <el-radio label="1">菜单</el-radio>
                                <el-radio label="2">功能</el-radio>
                            </el-radio-group>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>功能名称
                        </div>
                        <div class="col-9 group-text">
                            <el-input type="input" size="small" class="input-xlarge" v-model="subForm.funcSign"></el-input>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>默认地址
                        </div>
                        <div class="col-9 group-text">
                            <el-input type="input" size="small" class="input-xlarge" v-model="subForm.funcUrl"></el-input>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>权限
                        </div>
                        <div class="col-9 group-text">
                            <ul class="common-list">
                                <li v-for="item in subForm.funcPowers">
                                    <el-input type="input" size="small" class="input-large" v-model="item.name">
                                        <el-button slot="prepend" icon="el-icon-circle-close" v-on:click="removePowers(item.index)">名称</el-button>
                                    </el-input>
                                    <el-input type="input" size="small" class="input-large" v-model="item.value">
                                        <el-button slot="prepend">值</el-button>
                                    </el-input>
                                </li>
                                <li>
                                    <el-button size="mini" type="primary" icon="el-icon-plus" v-on:click="addPowers">添加权限</el-button>
                                </li>
                            </ul>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group block-none">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>链接方式：
                        </div>
                        <div class="col-9 group-text">
                            <el-select size="small" placeholder="请选择..." v-model="subForm.funcTarget">
                                <el-option v-for="item in custom.targetOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>状态
                        </div>
                        <div class="col-9 group-text">
                            <el-switch v-model="subForm.isShow"></el-switch>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            简要描述
                        </div>
                        <div class="col-9 group-text">
                            <el-input type="textarea" :rows="5" class="input-xlarge" v-model="subForm.funcMemo"></el-input>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                </ul>
            </div>
        </el-form>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var appVue = new Vue({
            el: '.main',
            mixins: [elementExtend.Base.MixinVue()],
            data: {
                subForm: {
                    funcName: '',
                    groupId: '',
                    funcType: '1',
                    funcSign: '',
                    funcUrl: '',
                    funcPowers: [
                        {
                            index: 0,
                            name: 'Search',
                            value: 'index'
                        },
                        {
                            index: 1,
                            name: 'Add',
                            value: 'add'
                        },
                        {
                            index: 2,
                            name: 'Modify',
                            value: 'edit'
                        }, {
                            index: 3,
                            name: 'Delete',
                            value: 'delete'
                        }
                    ],
                    funcTarget: 'iframe',
                    isShow: true,
                    funcMemo: ''
                },
                custom: {
                    groupIdOptions: [],
                    targetOptions: [
                        {
                            label: 'iframe',
                            value: 'iframe'
                        },
                        {
                            label: 'blank',
                            value: 'blank'
                        },
                        {
                            label: 'self',
                            value: 'self'
                        },
                        {
                            label: 'parent',
                            value: 'parent'
                        },
                        {
                            label: 'top',
                            value: 'top'
                        }
                    ]
                }
            },
            created: function(){
                this.initData();
            },
            methods: {
                initData() {
                    let $vue = this;
                    elementExtend.Base.ParseData({
                        url: '@Url.Action("Initialize_Info", "Function")',
                        params: {
                            type:'add'
                        },
                        success: function (data) {
                            $vue.custom.groupIdOptions = data.groupList;
                        }
                    });
                },
                addPowers: function () {
                    this.subForm.funcPowers.push({ index: this.subForm.funcPowers.length, name: '',value:'' });
                },
                removePowers: function (index) {
                    //至少留一个输入框
                    if (this.subForm.funcPowers.length > 1) {
                        this.subForm.funcPowers.splice(index, 1);
                        for (let i in this.subForm.funcPowers) {
                            this.subForm.funcPowers[i].index = i;
                        }
                    }
                    else {
                        elementExtend.Tips.Alert($vue,'请至少输入一条信息', 5);
                    }
                }
            }
        });
    </script>
}
