@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main" v-cloak>
    <div class="main-edit">
        <el-form ref="form" :model="subForm"
                 v-loading.fullscreen.lock="fullScreenLoading"
                 element-loading-text="Loading"
                 element-loading-spinner="el-icon-loading">
            <div class="form-horizontal">
                <ul>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>{{languagePack.users_editpassword_password}}
                        </div>
                        <div class="col-9 group-text">
                            <el-input type="password" size="small" class="input-xlarge" autocomplete="new-password" show-password v-model="subForm.password"></el-input>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                    <li class="form-group">
                        <div class="col-3 group-label">
                            <span class="text-danger">*</span>{{languagePack.users_editpassword_reset_password}}
                        </div>
                        <div class="col-9 group-text">
                            <el-input type="password" size="small" class="input-xlarge" autocomplete="new-password" show-password v-model="subForm.surePassword"></el-input>
                        </div>
                        <div class="form-line-dashed"></div>
                    </li>
                </ul>
            </div>
        </el-form>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var appVue = new Vue({
            el: '.main',
            mixins: [elementExtend.Base.MixinVue()],
            data: {
                languagePack: JSON.parse(window.parent.parent.frames.appFrame.languagePackCache),
                subForm: {
                    id: '',
                    password: '',
                    surePassword: ''
                }
            },
            created: function(){
                this.initData();
            },
            methods: {
                initData() {
                    let $vue = this;
                     elementExtend.Base.ParseData({
                        url: '@Url.Action("Initialize_Info", "Users")',
                        params: {
                            type: 'edit_password',
                            id: $.requestQueryString('id')
                        },
                        success: function (data) {
                            $vue.subForm = data.model;
                        }
                    });
                }
            }
        });
    </script>
}
